<app-sas-navbar></app-sas-navbar>
<body>
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Ingrese número de cédula" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>
<table class="table table-bordered table-dark">
    <thead>
      <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
      </tr>
    </tbody>
  </table>
</body>