<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand-sas" ><h1>SAS</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/sas/inicio']">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestionar Asociados
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/sas/agregarAsociado']">Agregar Asociado</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/sas/modificarAsociado']">Modificar Asociado</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/sas/consultarAsociado']">Consultar Asociados</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/sas/eliminarAsociado']">Eliminar Asociado</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestionar Beneficiarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/sas/agregarAsociado']">Agregar Beneficiario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/sas/modificarAsociado']">Modificar Beneficiario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/sas/consultarAsociado']">Consultar Beneficiario</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" [routerLink]="['/sas/eliminarAsociado']">Eliminar Beneficiario</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Gestionar Cuentas
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">Modificar Cuenta</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">Consultar Cuentas</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item">Eliminar Cuenta</a></li>
              <li><hr class="dropdown-divider"></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/sas/inicio']">Generar Reportes</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>