body {
    background-image: url('https://uploadgerencie.com/imagenes/sas.png');
    background-repeat: no-repeat;
    padding:13px;
    width:1363px;
    height:550px;
    background-size: 100% 100%;
  }