<!--<div class="cont">
  <div class="form sign-in">
    <h2>Login</h2>
    <form>
        <label>
            <span>Usaurio</span>
            <input type="email" />
          </label>
          <label>
            <span>Contraseña</span>
            <input type="password" />
          </label>
          <button type="button" class="submit">Sign In</button>
    </form>
  </div>
</div>
-->
<div class="cont">
  <div class="form sign-in">
    <h2>Login</h2>
      <form [formGroup]="loginForm" id="loginForm" (ngSubmit)="onSubmit();">
          <div class="form-group">
            <label>
              <span>Usuario</span>
              <input type="text" class="form-control" formControlName="id_usuario"
              (focus)="errorInicio=false"
              [ngClass]="{'border-danger':loginForm.controls['id_usuario'].invalid && loginForm.controls['id_usuario'].touched}">
              <div class="alert alert-danger mt-1" *ngIf="loginForm.controls['id_usuario'].invalid && loginForm.controls['id_usuario'].touched">
                  Campo Usuario requerido
              </div>
            </label>
          </div>
          <div class="form-group">
            <label>
              <span>Contraseña</span>
              <input type="password" class="form-control" formControlName="passw"
              (focus)="errorInicio=false"
              [ngClass]="{'border-danger':loginForm.controls['passw'].invalid && loginForm.controls['passw'].touched}">
              <div class="alert alert-danger mt-1" *ngIf="loginForm.controls['passw'].invalid && loginForm.controls['passw'].touched">
                  Campo Contraseña requerido
              </div>
            </label>
          </div>
          <div class="alert alert-danger" [ngStyle]="{'display': errorInicio ? 'block' : 'none'}">Usuario o Contraseña incorrecto</div>
          <button type="submit" class="submit">Sign In</button>
      </form>
    </div>
</div>
