
<div class="home__container">

    <div class="home__container__items">
        <div class="home__container__item text-center">
            <i class="fas fa-piggy-bank fa-3x mb-3"></i>
            <h6>Gestión de</h6>
            <h6>Ahorros</h6>
        </div>
    
        <div class="home__container__item text-center">
            <i class="fas fa-certificate fa-3x mb-3"></i>
            <h6>Gestión de</h6>
            <h6>Certificados</h6>
        </div>
    
        <div class="home__container__item text-center">
            <i class="fas fa-copy fa-3x mb-3"></i>
            <h6>Generar</h6>
            <h6>Reportes</h6>
        </div>

</div>
