<div class="main__container">
    
    <div class="main__container__item">
        <i class="fas fa-retweet fa-3x"></i>
        <h6>Movimientos</h6>
    </div>

    <div class="main__container__item">

        <i class="fas fa-money-bill-alt fa-3x"></i>
        <h6>Transsaciones</h6>

    </div>

    <div class="main__container__item">

        <i class="fas fa-file-invoice-dollar fa-3x"></i>
        <h6>Certificados</h6>

    </div>

    <div class="main__container__item">

        <i class="fas fa-file-powerpoint fa-3x"></i>
        <h6>Préstamos</h6>

    </div>

    <div class="main__container__item text-center">

        <i class="fas fa-file-alt fa-3x"></i>
        <h6>Informes de narcotráfico</h6>

    </div>

    <div class="main__container__item">

        <i class="fas fa-money-check-alt fa-3x"></i>
        <h6>Cheques</h6>

    </div>

    <div class="main__container__item">

        <i class="fas fa-file-invoice fa-3x"></i>
        <h6>Planillas</h6>

    </div>

    <div class="main__container__item">

        <i class="fas fa-stream fa-3x"></i>
        <h6>Leyendas</h6>

    </div>

    <div class="main__container__item text-center">

        <i class="fas fa-comment fa-3x"></i>
        <h6>Mensajes emergentes</h6>

    </div>

    

</div>
