body {
    background-image: url('https://uploadgerencie.com/imagenes/sas.png');
    background-repeat: no-repeat;
    padding:13px;
    width:1363px;
    height:550px;
    background-size: 100% 100%;
  }

  .btn-guardar{
    margin: 50px 280px;
    width: 200px;
  }

  .row{
    padding-left: 280px;
    margin-bottom:20px;
  }