<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; min-height: calc(100vh - 80px);">
  <div class="text-center" style="width: 100%;">
    <a href="/" class="link-dark text-decoration-none">
      <i class="fas fa-home fs-4 me-3"></i>
      <span class="fs-4">Menú</span>
    </a>
  </div>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a href="#" class="nav-link active" aria-current="page">
        <i class="fas fa-retweet fs-6" style="margin-right: 10px;"></i>
        Movimiento
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fas fa-money-bill-alt fs-6" style="margin-right: 13px;"></i>
        Transsaciones
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fas fa-file-invoice-dollar fs-6" style="margin-right: 18px;"></i>
        Certificados
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fas fa-file-powerpoint fs-6" style="margin-right: 18px;"></i>
        Préstamos
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fas fa-file-alt fs-6" style="margin-right: 18px;"></i>
        Inf. Narcotráfico
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fas fa-money-check-alt fs-6" style="margin-right: 12px;"></i>
        Cheques
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fas fa-file-invoice fs-6" style="margin-right: 18px;"></i>
        Planillas
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fas fa-stream fs-6" style="margin-right: 13px;"></i>
        Leyendas
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-dark">
        <i class="fas fa-comment fs-6" style="margin-right: 13px;"></i>
        Mensajes emergentes
      </a>
    </li>
  </ul>
</div>