<body>
  <form class="d-flex">
    <input class="form-control me-2" type="search" placeholder="Ingrese número de cédula" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Buscar</button>
  </form>
  <form class="row g-3">
      <div class="col-md-3">
        <label for="inputEmail4" class="form-label">Nombre</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="inputPassword4" class="form-label">Apellidos</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="inputAddress" class="form-label">Telefono</label>
        <input type="text" class="form-control" >
      </div>
    </form>
    <form class="row g-3">
      <div class="col-md-3">
        <label for="inputAddress2" class="form-label">Profesion</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="inputCity" class="form-label">E-mail</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-md-3">
        <label for="inputZip" class="form-label">Firma</label>
        <input type="text" class="form-control">
      </div>
    </form>
    <form class="row g-3">
      <div class="col-12">
        <button type="submit" class="btn-guardar btn-primary">Modificar Asociado</button>
      </div>
    </form>
  </body>